<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hrtek.gnas.mapper.NewsMapper">

    <resultMap id="newsResultMap" type="com.hrtek.gnas.entity.NewsEntity">
        <result property="newsId" column="news_id" jdbcType="INTEGER"/>
        <result property="newsTitle" column="news_title" jdbcType="VARCHAR"/>
        <result property="newsContent" column="news_content" jdbcType="VARCHAR"/>
        <result property="newsCategory" column="news_category" jdbcType="VARCHAR"/>
        <result property="newsLevel" column="news_level" jdbcType="VARCHAR"/>
        <result property="newsAddressName" column="news_address_name" jdbcType="VARCHAR"/>
        <result property="lgt" column="lgt" jdbcType="DOUBLE"/>
        <result property="lat" column="lat" jdbcType="DOUBLE"/>
        <result property="newsDate" column="news_date" jdbcType="DATE"/>

        <result property="newsCount" column="news_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="allColumns">
        news_id,news_title,news_content,news_category,news_level,news_address_name,lgt,lat,news_date
    </sql>

    <select id="list" resultType="List" resultMap="newsResultMap">
        SELECT
        <include refid="allColumns"/>
        FROM t_news;
    </select>

    <select id="listByNewsCategory" resultMap="newsResultMap" parameterType="java.lang.String">
        SELECT
          <include refid="allColumns"/>
        FROM t_news
        WHERE news_category = #{newsCategory}
    </select>

    <select id="getAddress" resultType="List" resultMap="newsResultMap">
         SELECT news_address_name,lat,lgt,count(news_id) news_count
        from t_news
        GROUP BY news_address_name,lat,lgt
    </select>

    <select id="getTitlesByNewsAddressName" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT t.news_title from t_news t where t.news_address_name = #{newsAddressName}
    </select>

    <select id="getNewsByTitle" resultMap="newsResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="allColumns"/>
        FROM t_news
        WHERE news_title = #{newsTitle}
    </select>
</mapper>